---
import Navbar from "../components/Navbar.astro";
import VideoBG from "../components/VideoBG.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <VideoBG />
  <main class="fixed w-full h-screen flex flex-col items-center justify-center">
    <div class="w-11/12 sm:w-2/3 h-screen flex flex-col sm:flex-row items-center justify-center gap-6">
      <!-- Top 100 Openings Section -->
      <div id="topOpenings" class="hover-section h-48 bg-black border-2 hover:border-purple-300 bg-opacity-25 backdrop-blur-md flex flex-col items-center justify-center sm:mr-4 p-6 rounded-lg shadow-lg w-full sm:w-1/2 transition-colors duration-150">
        <h1 class="text-4xl text-purple-300 font-extrabold mb-2">Top 100 Openings</h1>
        <p class="text-lg text-gray-300 mb-4">Vota por tu opening favorito</p>
        <div class="w-full mt-10 flex flex-row justify-between items-center text-white">
          <p class="text-sm  text-gray-400">Finalizado!</p>
          <a 
            href="#" 
            class="text-purple-900  hover:text-purple-100 rounded-lg text-sm font-semibold bg-purple-300 hover:bg-purple-400 p-2 transition-all">
            Resultados
          </a>
        </div>
      </div>

      <!-- Separator -->
      <div class="bg-gradient-to-b from-purple-500 to-blue-500 h-2 sm:h-auto w-full sm:w-0.5 rounded-lg hidden sm:block"></div>

      <!-- Top 50 Endings Section -->
      <div id="topEndings" class="hover-section h-48 bg-black border-2 hover:border-purple-300 bg-opacity-25 backdrop-blur-md flex flex-col items-center justify-center sm:mr-4 p-6 rounded-lg shadow-lg w-full sm:w-1/2 transition-colors duration-150">
        <h1 class=" text-4xl text-purple-300 font-extrabold mb-2">Top 50 Endings</h1>
        <p class="text-lg text-gray-300 mb-4">Vota por tu ending favorito</p>
        <div class="w-full flex flex-row justify-between items-center text-white">
          <p class="text-sm text-gray-400 mt-10">Próximamente...</p>
          <div/>
        </div>
      </div>
    </div>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";

  // GSAP Hover Animation
  document.addEventListener("DOMContentLoaded", () => {
    const hoverSections = document.querySelectorAll(".hover-section");

    hoverSections.forEach(section => {
      section.addEventListener("mouseenter", () => {
        gsap.to(section, {
          duration: 0.5,
          scale: 1.05,
          boxShadow: "0px 15px 30px rgba(0, 0, 0, 0.5)",
          ease: "power3.out",
        });
      });

      section.addEventListener("mouseleave", () => {
        gsap.to(section, {
          duration: 0.5,
          scale: 1,
          boxShadow: "0px 10px 20px rgba(0, 0, 0, 0.3)",
          ease: "power3.out",
        });
      });
    });
  });
</script>

<style>
  :root {
    margin: 0;
    padding: 0;
  }
</style>
