---
---

<html lang="es">
  <meta charset="UTF-8">
  <body>
    <section class="relative min-h-screen bg-violet-500 flex justify-center items-center p-20">
      <div class="relative container w-[800px] h-[500px] bg-white rounded-lg shadow-lg overflow-hidden">
        <div class="user signinBx">
          <div class="imgBx">
            <img src="https://image.cdn2.seaart.me/2023-07-27/49597880221765/6705d285f8deb1aa9a2b18087178e8f443867f6c_high.webp" alt="" />
          </div>
          <div class="formBx">
            <form action="" onsubmit="return false;">
              <h2>Iniciar Sesion</h2>
              <input type="text" name="" placeholder="Nombre de Usuario" />
              <input type="password" name="" placeholder="Contraseña" />
              <input type="submit" name="" value="Iniciar Sesion" />
              <p class="signup">
                ¿No tienes una cuenta?
                <a href="#" onclick="toggleForm()">Registrarte.</a>
              </p>
            </form>
          </div>
        </div>
        <div class="user signupBx">
          <div class="formBx">
            <form action="" onsubmit="return false;">
              <h2>Crear una cuenta</h2>
              <input type="text" name="" placeholder="Nombre de usuario" />
              <input type="email" name="" placeholder="Direccion de Email" />
              <input type="password" name="" placeholder="Crear Contraseña" />
              <input type="password" name="" placeholder="Confirmar Contraseña" />
              <input type="submit" name="" value="Registrarte" />
              <p class="signup">
                ¿Ya tienes una cuenta?
                <a href="#" onclick="toggleForm()">Iniciar Sesion.</a>
              </p>
            </form>
          </div>
          <div class="imgBx">
            <img src="https://i.pinimg.com/736x/5b/12/a4/5b12a4fd73a4d7ee443730032e0e3846.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

<script src="../scripts/form-handler.js"></script>


<style>
  @import "../styles/login.css";
</style>