---
import videobg from "../assets/videobg.mp4";
import ToggleMute from "./ToggleMute.svelte";
---

<i id="pixel"></i>
<video class="fixed top-0 left-0 w-full h-full object-cover -z-20" autoplay muted loop>
  <source src={videobg} type="video/mp4" />
</video>
<div class="fixed top-0 left-0 w-full h-full bg-gradient-to-t from-black to-transparent -z-10 opacity-75"></div>
<ToggleMute client:only />

<style>
  #pixel{
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url("/pixel.webp");
    background-repeat: repeat;
  }

  video {
    max-width: none;
  }
</style>
