---
import Navbar from "../components/Navbar.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Voto-Taku</title>
	</head>
	<body class="max-h-screen">
		<Navbar />
		<slot />
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
	@font-face {
		font-family: 'OtakuRant';
		src: url('/fonts/Otaku Rant.ttf') format('truetype');
	}
	@font-face {
		font-family: 'AnimeAce';
		src: url('/fonts/animeace2_reg.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Osaka';
		src: url('/fonts/osaka-re.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Expose-Regular';
		src: url('/fonts/Expose-Regular.otf') format('truetype');
	}
	html,
	body {
		margin: 0;
		font-family: Expose-Regular, sans-serif;
	}
</style>
